.button-default {
    margin: auto;
    padding: 2.5rem;
    background-color: #ff1493;
    color: #ffffff;
    border-radius: 1.5rem;
    border: none;
    font-size: 2rem;
    margin-top: 1rem;
    width: 30.9rem;
    cursor: pointer;
    transition: 1.3s;
    animation: mover 2s infinite, brilhar 1.5s infinite;
    &:hover {
      background-color: #ffffff;
      color: #ff1493;
    }
  }